

body {
	background: rgb(240,240,240);
}


footer {
	position:absolute;
    bottom:0;
    width: 100%;
    background:rgb(235,235,235);
}

.custom-footer {
	padding: 20px;
	border-top : 2px solid rgb(200,200,200);
}
